header {
  background-color: #DCBFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(to bottom, #edb4eb 0%, #f4b0dc 49%, #f791e4 51%, #ffd8ff 100%);
  position: sticky;
  top: 0;
  width: 100%;
}


.logo_navbar{
    width: 70px;
    height: 70px;
    margin: 5px;
  }

  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f5f5f5;
  }