.errorpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
 .errorpage img{
    width: 900px;
    height: 450px;
    margin-bottom: 20px;
 }

 .errorpage h1{

    margin-bottom: 20px;
    align-items: center;
 }