footer {
    background-color: #ccc;
    clear: both;
    color: #333;
    text-align: center;
    margin-top: auto;
    font-size: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  footer img {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;
  }
  footer p {
    color: rgb(5, 6, 6);
    text-align: center;
    padding-top: 30px;
  }
  
  .logofooter {
    background-color: blue;
    height: 60px;
    width: 60px;
    margin-top: 2px;
  }
  .logofooter a {
    height: 60px;
    width: 60px;
    padding: auto;
  }